<!-- Top-Header  -->

<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_header_container d-flex justify-content-center bg-white">
      <div class="col-8">
        <header
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between"
        >
          <div class="col-md-3 mb-2 mb-md-0 d-flex">
            <img
              [routerLink]="'explore/home'"
              class="app_logo"
              src="/assets/images/BookMyShow_logo.webp"
              alt="logo"
            />
            <div class="d-flex align-items-center">
              <app-searcbox></app-searcbox>
            </div>
          </div>

          <div
            class="col-md-4 text-end d-flex justify-content-end px-4 align-items-center"
          >
            <span
              class="dropdown_city_text"
              (click)="openCitySelectionModal(cityModal)"
            >
              {{ selectedCity() || " Select City" }}
              <i class="fa fa-angle-down ms-2" aria-hidden="true"></i
            ></span>

            @if (!isLoggedInSignalValue()) {
            <button
              class="badge ms-3"
              (click)="openAuthModal(authModalTemplate)"
            >
              Sign in
            </button>
            } @else {
            <div class="d-flex align-items-center gap-2">
              <img
                class="user_profile"
                src="assets/images/profile.png"
                alt="use"
                aria-hidden="true"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample"
              />
              <div class="d-flex align-items-center gap-2">
                <small class="text-muted">{{ userProfileDetails?.sub }}</small>
              </div>
            </div>
            } @if (!isLoggedInSignalValue) {
            <span class="ms-3 d-flex align-items-center">
              <i
                class="fa fa-bars"
                aria-hidden="true"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample"
              >
              </i>
            </span>
            }

            <!-- <p class="d-flex gap-1 align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
                <i class="fa fa-user-circle fa-circle_header" aria-hidden="true" ></i>
                <span>Hi, Guest</span>
            </p> -->
          </div>
        </header>
      </div>
    </div>
  </div>
</div>

<!-- Sub Headers -->

<div class="container-fluid">
  <div class="row">
    <div
      class="main_conatiner_sub_header d-flex justify-content-center border-bottom"
    >
      <div class="col-8">
        <div class="sub_header">
          <div class="sub_header_left">
            <div class="sub_heder_left_links">
              <a
                (click)="setActiveMenu('Movie')"
                [ngClass]="{ activeMenu: activeMenu === 'Movie' }"
              >
                Movies
              </a>

              <a
                (click)="setActiveMenu('Stream')"
                [ngClass]="{ activeMenu: activeMenu === 'Stream' }"
              >
                Stream
              </a>

              <a
                (click)="setActiveMenu('Event')"
                [ngClass]="{ activeMenu: activeMenu === 'Event' }"
              >
                Events
              </a>

              <a
                (click)="setActiveMenu('Plays')"
                [ngClass]="{ activeMenu: activeMenu === 'Plays' }"
              >
                Plays
              </a>

              <a
                (click)="setActiveMenu('Sports')"
                [ngClass]="{ activeMenu: activeMenu === 'Sports' }"
              >
                Sports
              </a>

              <a
                (click)="setActiveMenu('Activities')"
                [ngClass]="{ activeMenu: activeMenu === 'Activities' }"
              >
                Activities
              </a>

              @if (userProfileDetails?.role == 'ADMIN') {
              <a
                (click)="setActiveMenu('Users')"
                [ngClass]="{ activeMenu: activeMenu === 'Users' }"
              >
                Users
              </a>
              }
            </div>
          </div>
          <div class="sub_header_right">
            @if (authService.userDetails()?.role == 'ADMIN') {
            <div class="sub_heder_right_links">
              <a
                (click)="setActiveMenu('ListYouShow')"
                [ngClass]="{ activeMenu: activeMenu === 'ListYouShow' }"
                >ListYourShow</a
              >
              <a
                (click)="setActiveMenu('Venue')"
                [ngClass]="{ activeMenu: activeMenu === 'Venue' }"
                >Venue</a
              >
              <a
                (click)="setActiveMenu('Content')"
                [ngClass]="{ activeMenu: activeMenu === 'Content' }"
                >Content</a
              >
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@if(commonService.profileHeaderSignal()){
<div class="sub_profile_header">
  <div class="col-6">
    <div class="sub_header_profile_cotainer">
      <div class="sub_header_left">
        <a [routerLink]="['my-profile/your-order']">Your Orders</a>
        <a [routerLink]="['my-profile/edit']">Profile</a>
      </div>
    </div>
  </div>
</div>
}

<!-- SideBar Offcanvas  -->
<div
  class="offcanvas offcanvas-end p-0"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header px-2">
    <div class="full_with d-flex justify-content-between align-items-center">
      <div class="hey_text">
        <h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Hey!</h5>

        <span
          class="edit_profile"
          routerLink="my-profile"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          >Edit-Profile
          <i-feather class="edit_icon" name="chevron-right"></i-feather>
        </span>
      </div>
      <div class="user_icon">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="offcanvas-body p-0">
    <!-- Unlock special offers & great -->
    <div class="unlock_special_offer_box border-top d-none">
      <div height="40px" width="40px" class="unlock_special_offer_img bg-none">
        <img
          alt="rewards"
          width="40px"
          height="40px"
          src="assets/images/rewards_login.png"
        />
      </div>
      <p class="unlock_special_offer_text m-0">
        Unlock special offers &amp; great benefits
      </p>
      <button
        class="unlock_special_offer_button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
      >
        Login / Register
      </button>
    </div>

    <div class="main_sidebar_data">
      <div class="d-flex flex-column grow-2 py-2">
        <a
          class="d-flex justify-content-between align-items-center info_conatiner"
        >
          <div class="d-flex gap-2 align-items-center">
            <i class="fa fa-info-circle" aria-hidden="true"></i>

            <div class="info_text">
              <p class="m-0">Get tickets on Whatsapp/SMS!</p>
              <span>Add your Mobile Number</span>
            </div>
          </div>
          <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
        </a>

        @if(authService.userDetails()?.role == 'USER'){
        <a
          class="d-flex justify-content-between align-items-center links_sidebar"
        >
          <div class="d-flex gap-2 align-items-center">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <div class="info_text">
              <p class="m-0">Your Orders</p>
              <span>View all your bookings & purchases</span>
            </div>
          </div>
          <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
        </a>
        } @if(authService.userDetails()?.role == 'ADMIN'){
        <a
          class="d-flex justify-content-between align-items-center links_sidebar"
        >
          <div class="d-flex gap-2 align-items-center">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <div class="info_text">
              <p class="m-0">User List</p>
              <!-- <span>View all your Users List </span> -->
            </div>
          </div>
          <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
        </a>
        } @if(authService.userDetails()?.role == 'ADMIN'){
        <a
          class="d-flex justify-content-between align-items-center links_sidebar"
        >
          <div class="d-flex gap-2 align-items-center">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <div class="info_text">
              <p class="m-0">Your Events</p>
              <span>View all your Events </span>
            </div>
          </div>
          <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
        </a>
        }

        <!-- Notification bell with count -->
        <a
          class="notifation_warpper d-flex justify-content-between align-items-center links_sidebar pointer"
          (click)="toggleNotifications()"
        >
          <div class="d-flex gap-2 align-items-center">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <div class="info_text">
              <p class="m-0">Notifications</p>
            </div>
          </div>

          <!-- Show count -->
          <div class="notification_count">
            {{ notificationCount }}
          </div>

          <i-feather
            class="fa"
            [name]="showNotifications ? 'chevron-up' : 'chevron-down'"
            aria-hidden="true"
          ></i-feather>
        </a>

        <!-- Notifications dropdown -->
        @if (showNotifications) {
        <div class="notifications-panel shadow-sm p-2 mt-2">
          <h6 class="mb-2">Recent Notifications</h6>
          <ul
            class="list-unstyled mb-0"
            (scroll)="onScroll($event, authService.userDetails().userId)"
          >
            @for (note of notifications; track $index) {
            <li class="py-2 border-bottom" [class.unread]="!note.read">
              <div class="header_warpper">
                <span class="fw-semibold">{{ note.title }}</span>
                @if (!note.read) {
                <div
                  class="mark_read"
                  (click)="onMarkAsRead(authService.userDetails().userId, note)"
                >
                  <span> Mark as Read</span>
                  <i-feather name="check-square"> </i-feather>
                </div>
                }
              </div>
              <div class="text-muted small">{{ note.message }}</div>
              <small class="text-secondary">{{
                formatDate(note.createdOn)
              }}</small>
            </li>
            }
          </ul>
          @if (isLoading) {
          <div class="text-center py-2">
            <small class="text-muted">Loading...</small>
          </div>
          }
        </div>
        }
      </div>
      <div class="button_section">
        <div>
          <button
            class="button_sign_out w-100"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample"
            (click)="onLogout()"
          >
            Sign out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- City-Dropdown-modal  -->
<ng-template #cityModal let-modal>
  <div class="modal-header d-block">
    <div class="input-group has-validation">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
      <input
        type="text"
        class="form-control border-start-0"
        name="search-city"
        placeholder="Search for Your city"
        (input)="onCitySearch($event)"
      />
    </div>
    <div class="detect_my_location_text text-danger mt-2">
      <i-feather class="location" name="map-pin"></i-feather>
      <span>Detect my location</span>
    </div>
  </div>
  <div class="modal-body p-0">
    <p class="text-center mt-1">Popular Cities</p>

    <div class="py-2 d-flex gap-2 px-3">
      @if (filterCityData.length > 0) { @for (item of filterCityData; track
      $index) {

      <div
        class="main-view-city-container d-flex"
        (click)="handleCitySelection(item.cityName, modalRef)"
      >
        <div
          class="flex_direction d-flex flex-column justify-content-center align-items-center"
        >
          <img
            [ngClass]="item.cityName === selectedCity ? 'active_img' : ''"
            [src]="getImageFromBase64(item?.imageUrl)"
            alt="{{ item.cityName }}"
            class="img-fluid city_section"
          />
          <p class="p-0 m-0">{{ item.cityName }}</p>
        </div>
      </div>
      } } @else {
      <h5 class="text-center w-100">No popular cities found.</h5>
      }
    </div>
    <div class="main_container">
      @if (showCities) {
      <p class="text-center mt-1 pt-2">Other Cities</p>

      <div
        class="other_cities_list px-3 w-100"
        [ngClass]="{ other_cities_list: cityList }"
      >
        <div class="list_cities py-2 w-100">
          @if (filterCityList.length > 0) { @for (item of filterCityList; track
          $index) {
          <p class="m-0" (click)="handleCitySelection(item.cityName, modalRef)">
            {{ item.cityName }}
          </p>
          }} @else {
          <h5 class="text-center no_data_found w-100 col-md-12">
            No other cities found.
          </h5>
          }
        </div>
      </div>
      }
    </div>
  </div>
  <div class="modal-footer text-center d-block">
    <a class="view_city" (click)="toggleCityListVisibility()">
      {{ viewCitiesText }}
    </a>
  </div>
</ng-template>

<ng-template #authModalTemplate>
  <app-user-auth [modalRef]="modalRef"></app-user-auth>
</ng-template>
