<!-- crousel -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <carousel
      id="carouselExample"
      class="carousel slide"
      data-bs-ride="carousel"
      [interval]="3000"
      indicators="false"
      [isAnimated]="true"
    >
      <div class="carousel-inner">
        <slide class="carousel-item active">
          <div class="carousel-image-container">
            <img
              class="carousel-image left"
              src="assets/images/movies_carousel_img1.avif"
              alt="Image 2"
            />
            <img
              class="carousel-image center"
              src="assets/images/movies_carousel_img2.avif"
              alt="Image 1"
            />
            <img
              class="carousel-image right"
              src="assets/images/movies_carousel_img1.avif"
              alt="Image 3"
            />
          </div>
        </slide>
        <slide class="carousel-item">
          <div class="carousel-image-container">
            <img
              class="carousel-image left"
              src="assets/images/movies_carousel_img2.avif"
              alt="Image 2"
            />
            <img
              class="carousel-image center"
              src="assets/images/movies_carousel_img1.avif"
              alt="Image 1"
            />
            <img
              class="carousel-image right"
              src="assets/images/movies_carousel_img2.avif"
              alt="Image 3"
            />
          </div>
        </slide>
        <slide class="carousel-item active">
          <div class="carousel-image-container">
            <img
              class="carousel-image left"
              src="assets/images/movies_carousel_img1.avif"
              alt="Image 2"
            />
            <img
              class="carousel-image center"
              src="assets/images/movies_carousel_img2.avif"
              alt="Image 1"
            />
            <img
              class="carousel-image right"
              src="assets/images/movies_carousel_img1.avif"
              alt="Image 3"
            />
          </div>
        </slide>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </carousel>
  </div>
</div>

<!-- Movies Section  -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div
          class="top_recommanded_movie_text d-flex justify-content-between align-items-center"
        >
          <h4 class="recommended_movie_headding mb-3">Recommended Movies</h4>
          <a class="seeall_txt" [routerLink]="['/explore/movies']">
            See All <i class="fa fa-angle-right ms-1"></i>
          </a>
        </div>

        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">
              <!-- Previous Button -->
              <div class="icon_box d-flex justify-content-end me-3">
                @if(paginationState['Movie']?.start > 0){
                <button class="arrow-btn" (click)="goToPrevious('Movie')">
                  <i class="fa fa-angle-left"></i>
                </button>
                }
              </div>

              <!-- Movie Cards -->
              <div class="main_filter_card overflow-hidden">
                <div class="filter_text d-flex gap-3">
                  @for(item of paginationState['Movie']?.visibleItems; track
                  $index){
                  <div class="col" (click)="goToMovieDetails(item)">
                    <div class="card shadow-sm">
                      <div class="img_container">
                        <img
                          [src]="getImageFromBase64(item.imageurl)"
                          [alt]="item.name"
                        />
                      </div>
                      <div class="card-body rounded-bottom bg-dark">
                        <div class="d-flex gap-4">
                          @if(item.releasedFlag == true){
                          <div
                            class="text-white d-flex gap-2 align-items-center"
                          >
                            <i-feather class="d-flex" name="star"></i-feather>
                            <span>{{ item.imdbRating }}</span>
                          </div>
                          } @if(item.releasedFlag == true){
                          <div class="d-flex gap-2 align-items-center gap-2">
                            <i class="fa fa-thumbs-up text-success"></i>
                            <span class="text-white"
                              >{{ item.votes | numberSuffix }}
                            </span>
                            @if(item.releasedFlag == false){
                            <span class="text-white">{{ item.likes }}</span>
                            }
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="bottom_text_movie_card">
                      <h6 class="card-text m-0">{{ item.name }}</h6>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- Next Button -->
              <div class="icon_box d-flex justify-content-start ms-3">
                @if (paginationState['Movie']?.end <
                paginationState['Movie']?.total) {
                <button class="arrow-btn" (click)="goToNext('Movie')">
                  <i class="fa fa-angle-right"></i>
                </button>
                }
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center my-5 py-4">
          <img
            src="assets/images/stream-leadin-web-collection-202210241242.avif"
            alt="render"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Plays Section Latest Shows -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div
          class="top_recommanded_movie_text d-flex justify-content-between align-items-center"
        >
          <h4 class="recommended_movie_headding mb-3">Latest Shows</h4>
          <a class="seeall_txt" [routerLink]="['/explore/movies']"
            >See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>

        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">
              <div class="icon_box d-flex justify-content-end me-3">
                <!-- @if(pageNo > 0){
                <button class="arrow-btn" (click)="prev()">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                } -->

                @if(paginationState['Plays']?.start > 0){
                <button class="arrow-btn" (click)="goToPrevious('Plays')">
                  <i class="fa fa-angle-left"></i>
                </button>
                }
              </div>
              <div class="main_filter_card overflow-hidden">
                <div class="filter_text d-flex gap-3">
                  @for(item of paginationState['Plays']?.visibleItems; track
                  $index){
                  <div class="col" (click)="goToMovieDetails(item)">
                    <div class="card shadow-sm">
                      <div class="img_container">
                        <img
                          [src]="getImageFromBase64(item.imageurl)"
                          [alt]="item.name"
                        />
                      </div>
                      <div class="card-body rounded-bottom bg-dark">
                        <div class="d-flex gap-4">
                          @if(item.releasedFlag == true){
                          <div
                            class="text-white d-flex gap-2 align-items-center"
                          >
                            <i-feather class="d-flex" name="star"></i-feather>
                            <span>{{ item.imdbRating }}</span>
                          </div>
                          } @if(item.releasedFlag == true){
                          <div class="d-flex gap-2 align-items-center gap-2">
                            <i class="fa fa-thumbs-up text-success"></i>
                            <span class="text-white"
                              >{{ item.votes | numberSuffix }}
                            </span>
                            @if(item.releasedFlag == false){
                            <span class="text-white">{{ item.likes }}</span>
                            }
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="bottom_text_movie_card">
                      <h6 class="card-text m-0">{{ item.name }}</h6>
                    </div>
                  </div>
                  }
                </div>
              </div>
              <div class="icon_box d-flex justify-content-start ms-3">
                <!-- @if (end < originalMovies.length) {
                <button class="arrow-btn" (click)="next()">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                } -->

                @if (paginationState['Plays']?.end <
                paginationState['Plays']?.total) {
                <button class="arrow-btn" (click)="goToNext('Plays')">
                  <i class="fa fa-angle-right"></i>
                </button>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-5 py-4">
          <img
            src="assets/images/stream-leadin-web-collection-202210241242.avif"
            alt="render"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sports Section  -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div
          class="top_recommanded_movie_text d-flex justify-content-between align-items-center"
        >
          <h4 class="recommended_movie_headding mb-3">Top Games & Sports</h4>
          <a class="seeall_txt" [routerLink]="['/explore/movies']"
            >See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>

        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">
              <div class="icon_box d-flex justify-content-end me-3">
                <!-- @if(pageNo > 0){
                <button class="arrow-btn" (click)="prev()">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                } -->
                @if(paginationState['Sports']?.start > 0){
                <button class="arrow-btn" (click)="goToPrevious('Sports')">
                  <i class="fa fa-angle-left"></i>
                </button>
                }
              </div>
              <div class="main_filter_card overflow-hidden">
                <div class="filter_text d-flex gap-3">
                  @for(item of paginationState['Sports']?.visibleItems; track
                  $index){
                  <div class="col" (click)="goToMovieDetails(item)">
                    <div class="card shadow-sm">
                      <div class="img_container">
                        <img
                          [src]="getImageFromBase64(item.imageurl)"
                          [alt]="item.name"
                        />
                      </div>
                      <div class="card-body rounded-bottom bg-dark">
                        <div class="d-flex gap-4">
                          @if(item.releasedFlag == true){
                          <div
                            class="text-white d-flex gap-2 align-items-center"
                          >
                            <i-feather class="d-flex" name="star"></i-feather>
                            <span>{{ item.imdbRating }}</span>
                          </div>
                          } @if(item.releasedFlag == true){
                          <div class="d-flex gap-2 align-items-center gap-2">
                            <i class="fa fa-thumbs-up text-success"></i>
                            <span class="text-white"
                              >{{ item.votes | numberSuffix }}
                            </span>
                            @if(item.releasedFlag == false){
                            <span class="text-white">{{ item.likes }}</span>
                            }
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="bottom_text_movie_card">
                      <h6 class="card-text m-0">{{ item.name }}</h6>
                    </div>
                  </div>
                  }
                </div>
              </div>
              <div class="icon_box d-flex justify-content-start ms-3">
                <!-- @if (end < originalMovies.length) {
                <button class="arrow-btn" (click)="next()">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                } -->

                @if (paginationState['Sports']?.end <
                paginationState['Sports']?.total) {
                <button class="arrow-btn" (click)="goToNext('Sports')">
                  <i class="fa fa-angle-right"></i>
                </button>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-5 py-4">
          <img
            src="assets/images/stream-leadin-web-collection-202210241242.avif"
            alt="render"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Activities Section  -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div
          class="top_recommanded_movie_text d-flex justify-content-between align-items-center"
        >
          <h4 class="recommended_movie_headding mb-3">
            Explore Fun Activities
          </h4>
          <a class="seeall_txt" [routerLink]="['/explore/movies']"
            >See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>

        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">
              <div class="icon_box d-flex justify-content-end me-3">
                <!-- @if(pageNo > 0){
                <button class="arrow-btn" (click)="prev()">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                } -->

                @if(paginationState['Activities']?.start > 0){
                <button class="arrow-btn" (click)="goToPrevious('Activities')">
                  <i class="fa fa-angle-left"></i>
                </button>
                }
              </div>
              <div class="main_filter_card overflow-hidden">
                <div class="filter_text d-flex gap-3">
                  @for(item of paginationState['Activities']?.visibleItems;
                  track $index){
                  <div class="col" (click)="goToMovieDetails(item)">
                    <div class="card shadow-sm">
                      <div class="img_container">
                        <img
                          [src]="getImageFromBase64(item.imageurl)"
                          [alt]="item.name"
                        />
                      </div>
                      <div class="card-body rounded-bottom bg-dark">
                        <div class="d-flex gap-4">
                          @if(item.releasedFlag == true){
                          <div
                            class="text-white d-flex gap-2 align-items-center"
                          >
                            <i-feather class="d-flex" name="star"></i-feather>
                            <span>{{ item.imdbRating }}</span>
                          </div>
                          } @if(item.releasedFlag == true){
                          <div class="d-flex gap-2 align-items-center gap-2">
                            <i class="fa fa-thumbs-up text-success"></i>
                            <span class="text-white"
                              >{{ item.votes | numberSuffix }}
                            </span>
                            @if(item.releasedFlag == false){
                            <span class="text-white">{{ item.likes }}</span>
                            }
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="bottom_text_movie_card">
                      <h6 class="card-text m-0">{{ item.name }}</h6>
                    </div>
                  </div>
                  }
                </div>
              </div>
              <div class="icon_box d-flex justify-content-start ms-3">
                <!-- @if (end < originalMovies.length) {
                <button class="arrow-btn" (click)="next()">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                } -->

                @if (paginationState['Activities']?.end <
                paginationState['Activities']?.total) {
                <button class="arrow-btn" (click)="goToNext('Activities')">
                  <i class="fa fa-angle-right"></i>
                </button>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-5 py-4">
          <img
            src="assets/images/stream-leadin-web-collection-202210241242.avif"
            alt="render"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
