<div class="animated-table-container bg-white p-3">
  <div class="container-fluid">
    <div class="row main_table_container">
      <div class="col-10">
        <div class="header">
          <div class="left">
            <h5 class="text-start">All Venues List</h5>
          </div>
          <div class="right">
            <div class="search_filter">
              <app-search-filter
                [borderRequired]="true"
                [placeholder]="'Search here..'"
              >
              </app-search-filter>
            </div>
            <div class="single_select_wrapper">
              <app-single-select
                [placeholder]="'Filter by City'"
                [optionList]="cityList"
                [formControl]="cityValue"
              ></app-single-select>
            </div>

            <div class="single_select_wrapper">
              <app-single-select
                [placeholder]="'Filter by Type'"
                [optionList]="movieDropDownList"
                [formControl]="MovieTypeValue"
              ></app-single-select>
            </div>
            <button class="btn btn-primary" [routerLink]="['../create-venue']">
              Create Venue
            </button>
          </div>
        </div>

        <!-- Venues Table -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>Venue Name</th>
                <th>Capacity</th>
                <th>Type</th>
                <th>Street</th>
                <th>Pin</th>
                <th>Categories</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @if (venues.length > 0) { @for (venue of venues; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ venue.venueName }}</td>
                <td>{{ venue.venueCapacity }}</td>
                <td>{{ venue.venueType || "N/A" }}</td>
                <td>{{ venue.address?.street || "-" }}</td>
                <td>{{ venue.address?.pin || "-" }}</td>
                <td>
                  {{ venue.supportedCategories.join(", ") }}
                </td>
                <td>
                  <div class="d-flex gap-2">
                    <button
                      class="btn btn-primary"
                      (click)="onEditVenue(venue.id, venue)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="onDeleteByVenueId(venue.id)"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
              } } @else {
              <tr class="no_data_found_row">
                <td colspan="7">
                  <div class="no_data_found">No Venue Found</div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
