<div class="main_container_accordian d-block">
  <!-- Accordion Header -->
  <div
    class="d-flex justify-content-between border accordian_box border-bottom-0 shadow-sm"
    (click)="toggleAccoridan()"
  >
    <div class="d-flex gap-2 align-items-center">
      <i-feather
        class="chevron_icon"
        [name]="!isExpand ? 'chevron-right' : 'chevron-down'"
      ></i-feather>
      <span class="label">{{ label }}</span>
    </div>
    @if (clearable) {
    <div>
      <span
        [ngClass]="{ disbaled_clear_btn: selectedFilters.length < 1 }"
        class="clear_btn"
        (click)="clearFilters(); $event.stopPropagation()"
        >Clear</span
      >
    </div>
    }
  </div>

  <!-- Accordion Body -->
  @if (!isExpand) {
  <div>
    <div class="border border-top-0 filter_button_box bg-white">
      @for (option of filtersList; track option) {
      <button
        type="button"
        class="filter_btn"
        (click)="onFilterClick(option)"
        [ngClass]="{ active: selectedFilters.includes(option) }"
      >
        {{ option }}
      </button>
      }
    </div>
  </div>
  }
</div>
