<!-- Promotion Banner -->

<carousel
  [interval]="0"
  [isAnimated]="true"
  [noPause]="true"
  [showIndicators]="false"
>
  <slide>
    <div class="promo-banner">
      <img src="/assets/images/1757424412216_web.avif" alt="Image 2" />
    </div>
  </slide>
</carousel>

<!-- Movies Section  -->
<div class="conatiner-fluid mt-5">
  <div class="row g-0">
    <div class="main_container_box d-flex justify-content-center">
      <div class="col-8">
        <div class="top_heading_movies d-flex justify-content-between">
          <div class="col-3">
            <h4>Filters</h4>
          </div>
          <div class="col-9">
            <h4 class="fs-4 fw-500 m-0">
              Events in {{ commonService.selectedCitySignal() }}
            </h4>
          </div>
        </div>
        <div class="filter_cards_container d-flex justify-content-between py-2">
          <div class="col-3">
            <div>
              <!-- Date -->
              <div class="app_filter_box">
                <app-filter-accordian
                  [label]="'Date'"
                  [filtersList]="dateName"
                  (filterChange)="onFilterChange('Date', $event)"
                ></app-filter-accordian>
              </div>

              <!-- Categories -->
              <div class="app_filter_box">
                <app-filter-accordian
                  [isExpand]="false"
                  [label]="'Categories'"
                  [filtersList]="CategoriesName"
                  (filterChange)="onFilterChange('Categories', $event)"
                ></app-filter-accordian>
              </div>

              <!-- More Filters -->
              <div class="app_filter_box">
                <app-filter-accordian
                  [label]="'More Filters'"
                  [filtersList]="moreFiltersName"
                  (filterChange)="onFilterChange('More Filters', $event)"
                ></app-filter-accordian>
              </div>

              <!-- Price -->
              <div class="app_filter_box">
                <app-filter-accordian
                  [label]="'Price'"
                  [filtersList]="priceName"
                  (filterChange)="onFilterChange('Price', $event)"
                ></app-filter-accordian>
              </div>
            </div>
          </div>
          <div class="col-9 d-block">
            <div class="top_bar_Comming_soon d-flex flex-column gap-3">
              <div class="d-flex gap-3 language_text py-2 flex-wrap">
                <!-- Categories: Always visible -->
                <ng-container>
                  @for (cat of CategoriesName; track $index) {
                  <button
                    class="filter_btn"
                    [ngClass]="{
                      active:
                        selectedFiltersSignal()['Categories'].includes(cat)
                    }"
                  >
                    {{ cat }}
                  </button>
                  }
                </ng-container>

                <!-- Other filters: Only visible if selected -->
                <ng-container *ngFor="let key of dynamicFilterKeys">
                  <ng-container>
                    @for (item of selectedFiltersSignal()[key] || []; track
                    $index) {
                    <button
                      class="filter_btn"
                      [ngClass]="{
                        active: selectedFiltersSignal()[key].includes(item)
                      }"
                    >
                      {{ item }}
                    </button>
                    }
                  </ng-container>
                </ng-container>
              </div>

              <!-- Comming Soon Movie -->
              <div
                class="d-none d-flex justify-content-between py-4 px-3 rounded-2 comming_soon_bar bg-white align-items-center shadow-sm"
                style="background: transparent"
              >
                <h4 class="fs-5 fw-500 m-0">Coming Soon</h4>
                <a class="explore_text" [routerLink]="['upcoming-movies']"
                  >Explore upcoming movies
                  <i class="fa fa-angle-right ms-1" aria-hidden="true"></i
                ></a>
              </div>
            </div>

            <!-- Movie Cards -->
            <div class="col-12">
              <div class="d-flex justify-content-center g-0">
                <div class="main_box_crasoule">
                  <div class="main_filter_card overflow-hidden">
                    <div
                      (scroll)="onScroll($event)"
                      class="filter_text d-flex flex-wrap gap-4 py-3 justify-content-start"
                    >
                      @for(item of filteredMovies; track $index){
                      <div class="col">
                        <div class="card shadow-sm">
                          <div class="img_container">
                            <img
                              [src]="
                                commonService.getImageFromBase64(item.imageurl)
                              "
                              [alt]="item.name"
                            />
                          </div>
                          <div class="card-body rounded-bottom bg-dark">
                            <div class="d-flex gap-4">
                              @if(item.releasedFlag == true){
                              <div
                                class="text-white d-flex gap-2 align-items-center"
                              >
                                <i-feather
                                  class="d-flex"
                                  name="star"
                                ></i-feather>
                                <span>{{ item.imdbRating }}</span>
                              </div>
                              } @if(item.releasedFlag == true){
                              <div
                                class="d-flex gap-2 align-items-center gap-2"
                              >
                                <i class="fa fa-thumbs-up text-success"></i>
                                <span class="text-white"
                                  >{{ item.votes | numberSuffix }}
                                </span>
                                @if(item.releasedFlag == false){
                                <span class="text-white">{{ item.likes }}</span>
                                }
                              </div>
                              }
                            </div>
                          </div>
                        </div>
                        <div class="bottom_text_movie_card">
                          <h6 class="card-text m-0">{{ item.name }}</h6>
                          <div class="d-flex gap-1 flex-wrap">
                            @for(language of item.languages; track $index) {
                            <span>{{ language }}</span>
                            }
                          </div>
                        </div>
                      </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
