<div
  class="custom-select"
  [class.open]="isOpen"
  (clickedOutside)="closeDropdown()"
  appClickOutside
>
  <!-- Selected Value -->
  <div class="selected" (click)="toggleDropdown()">
    <span>
      {{ selectedLabel }}
    </span>
    <i-feather [name]="!isOpen ? 'chevron-right' : 'chevron-down'"></i-feather>
  </div>

  <!-- Dropdown List -->
  @if (isOpen) {
  <ul class="options">
    @if (optionList.length > 0) { @for (item of optionList; track $index) {
    <li (click)="selectOption(item)">
      {{ item }}
    </li>
    } } @else {
    <li class="no-data">No Data Found</li>
    }
  </ul>
  }
</div>
