<div class="auth-wrapper" #model>
  <div class="d-flex justify-content-center align-items-center">
    <div
      class="auth-card shadow-lg p-4 rounded-4 animate__animated animate__fadeIn"
    >
      <div class="text-center mb-4 d-flex justify-content-center">
        <img
          src="/assets/images/BookMyShow_logo.webp"
          height="60px"
          alt="Logo"
        />
      </div>

      <!-- Login Form -->
      @if (!openSignuForm) {
      <form [formGroup]="userLogin" (ngSubmit)="onLogin()">
        <h4 class="text-center mb-3">Welcome Back</h4>

        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userLogin.controls['username'].invalid &&
                (userLogin.controls['username'].dirty ||
                  userLogin.controls['username'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="mail"></i-feather>
            </span>
            <input
              type="text"
              class="form-control username"
              placeholder="Enter username"
              formControlName="username"
            />
          </div>

          @if ( userLogin.controls['username'].invalid &&
          (userLogin.controls['username'].dirty ||
          userLogin.controls['username'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userLogin.controls['username'].errors?.['required']">
              Username is required.
            </small>
          </div>
          }
        </div>

        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userLogin.controls['password'].invalid &&
                (userLogin.controls['password'].dirty ||
                  userLogin.controls['password'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="lock"></i-feather>
            </span>
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="Enter your password"
              formControlName="password"
            />

            <span class="input-group-text bg-white aye_wrapper">
              <i-feather
                (click)="togglePassword()"
                [name]="!showPassword ? 'eye-off' : 'eye'"
              >
              </i-feather>
            </span>
          </div>

          @if ( userLogin.controls['password'].invalid &&
          (userLogin.controls['password'].dirty ||
          userLogin.controls['password'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userLogin.controls['password'].errors?.['required']">
              Password is required.
            </small>
          </div>
          }
        </div>

        <button
          [disabled]="userLogin.invalid"
          type="submit"
          class="btn-submit w-100"
        >
          <i-feather name="log-in" class="me-1"></i-feather> Login
        </button>

        <div class="text-center mt-3">
          <span>
            Don't have an account?
            <a class="signup" (click)="onToggleForm()">Signup</a>
          </span>
        </div>
      </form>
      }

      <!-- Signup Form -->
      @if (openSignuForm) {
      <form [formGroup]="userSignUp" (ngSubmit)="onSignupSubmit()">
        <h4 class="text-center mb-3">Create Account</h4>

        <!-- Name -->
        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userSignUp.controls['name'].invalid &&
                (userSignUp.controls['name'].dirty ||
                  userSignUp.controls['name'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="user"></i-feather>
            </span>
            <input
              type="text"
              class="form-control signup_input"
              placeholder="Full Name"
              formControlName="name"
            />
          </div>

          @if ( userSignUp.controls['name'].invalid &&
          (userSignUp.controls['name'].dirty ||
          userSignUp.controls['name'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userSignUp.controls['name'].errors?.['required']">
              Name is required.
            </small>
          </div>
          }
        </div>

        <!-- Username -->
        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userSignUp.controls['username'].invalid &&
                (userSignUp.controls['username'].dirty ||
                  userSignUp.controls['username'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="at-sign"></i-feather>
            </span>
            <input
              type="text"
              class="form-control signup_input"
              placeholder="Username"
              formControlName="username"
            />
          </div>

          @if(userSignUp.get('username')?.value){
          <span
            [ngClass]="{
              'text-danger': isUserExit == 'Username already exists',
              'text-success': isUserExit == 'Username available'
            }"
          >
            {{ isUserExit }}
          </span>
          } @if ( userSignUp.controls['username'].invalid &&
          (userSignUp.controls['username'].dirty ||
          userSignUp.controls['username'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userSignUp.controls['username'].errors?.['required']">
              Username is required.
            </small>
          </div>
          }
        </div>

        <!-- Email -->
        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userSignUp.controls['email'].invalid &&
                (userSignUp.controls['email'].dirty ||
                  userSignUp.controls['email'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="mail"></i-feather>
            </span>
            <input
              type="email"
              class="form-control signup_input"
              placeholder="Enter your email"
              formControlName="email"
            />
          </div>

          @if ( userSignUp.controls['email'].invalid &&
          (userSignUp.controls['email'].dirty ||
          userSignUp.controls['email'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userSignUp.controls['email'].errors?.['required']">
              Email is required.
            </small>
            <small *ngIf="userSignUp.controls['email'].errors?.['email']">
              Enter a valid email.
            </small>
          </div>
          }
        </div>

        <!-- Password -->
        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userSignUp.controls['password'].invalid &&
                (userSignUp.controls['password'].dirty ||
                  userSignUp.controls['password'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="lock"></i-feather>
            </span>
            <input
              type="password"
              class="form-control signup_input"
              placeholder="Enter your password"
              formControlName="password"
            />
          </div>

          @if ( userSignUp.controls['password'].invalid &&
          (userSignUp.controls['password'].dirty ||
          userSignUp.controls['password'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userSignUp.controls['password'].errors?.['required']">
              Password is required.
            </small>
          </div>
          }
        </div>

        <!-- Phone -->
        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userSignUp.controls['phoneNumber'].invalid &&
                (userSignUp.controls['phoneNumber'].dirty ||
                  userSignUp.controls['phoneNumber'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="phone"></i-feather>
            </span>
            <input
              type="tel"
              class="form-control signup_input"
              placeholder="Phone Number"
              formControlName="phoneNumber"
            />
          </div>

          @if ( userSignUp.controls['phoneNumber'].invalid &&
          (userSignUp.controls['phoneNumber'].dirty ||
          userSignUp.controls['phoneNumber'].touched)) {
          <div class="text-danger mt-1">
            <small
              *ngIf="userSignUp.controls['phoneNumber'].errors?.['required']"
            >
              Phone number is required.
            </small>

            <small
              *ngIf="
             userSignUp.controls['phoneNumber'].errors?.['pattern']"
            >
              Only numbers are allowed.
            </small>

            <small
              *ngIf="!userSignUp.controls['phoneNumber'].errors?.['pattern'] 
             && userSignUp.controls['phoneNumber'].errors?.['minlength']"
            >
              Phone number must be at least 10 digits.
            </small>

            <small
              *ngIf="!userSignUp.controls['phoneNumber'].errors?.['pattern'] 
             && userSignUp.controls['phoneNumber'].errors?.['maxlength']"
            >
              Phone number cannot exceed 10 digits.
            </small>
          </div>
          }
        </div>

        <!-- Role -->
        <div class="mb-3 input-group d-flex flex-column">
          <div
            class="d-flex flex-grow-1 border rounded"
            [ngClass]="{
              'border-danger':
                userSignUp.controls['roleName'].invalid &&
                (userSignUp.controls['roleName'].dirty ||
                  userSignUp.controls['roleName'].touched)
            }"
          >
            <span class="input-group-text bg-light">
              <i-feather name="users"></i-feather>
            </span>
            <input
              type="text"
              class="form-control signup_input"
              placeholder="Enter your Role"
              formControlName="roleName"
            />
          </div>

          @if ( userSignUp.controls['roleName'].invalid &&
          (userSignUp.controls['roleName'].dirty ||
          userSignUp.controls['roleName'].touched)) {
          <div class="text-danger mt-1">
            <small *ngIf="userSignUp.controls['roleName'].errors?.['required']">
              Role is required.
            </small>
          </div>
          }
        </div>

        <button
          type="submit"
          class="btn-submit w-100"
          [disabled]="userSignUp.invalid"
        >
          <i-feather name="user-plus" class="me-1"></i-feather>
          <span>Register</span>
        </button>

        <div class="text-center mt-3">
          <span>
            Already have an account?
            <a class="signin" (click)="onToggleForm()">Signin</a>
          </span>
        </div>
      </form>

      }
    </div>
  </div>
</div>
