<carousel
  id="carouselExample"
  class="carousel slide"
  data-bs-ride="carousel"
  [interval]="2000"
  indicators="false"
  [isAnimated]="true"
>
  <div class="carousel-inner">
    <slide class="carousel-item active">
      <div class="carousel-image-container">
        <img
          class="carousel-image left"
          src="assets/images/movies_carousel_img1.avif"
          alt="Image 2"
        />
        <img
          class="carousel-image center"
          src="assets/images/movies_carousel_img2.avif"
          alt="Image 1"
        />
        <img
          class="carousel-image right"
          src="assets/images/movies_carousel_img1.avif"
          alt="Image 3"
        />
      </div>
    </slide>
    <slide class="carousel-item">
      <div class="carousel-image-container">
        <img
          class="carousel-image left"
          src="assets/images/movies_carousel_img2.avif"
          alt="Image 2"
        />
        <img
          class="carousel-image center"
          src="assets/images/movies_carousel_img1.avif"
          alt="Image 1"
        />
        <img
          class="carousel-image right"
          src="assets/images/movies_carousel_img2.avif"
          alt="Image 3"
        />
      </div>
    </slide>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</carousel>

<!-- Movies Section  -->

<div class="conatiner-fluid mt-5">
  <div class="row g-0">
    <div class="main_container_box d-flex justify-content-center">
      <div class="col-8">
        <div class="top_heading_movies d-flex justify-content-between">
          <div class="col-3">
            <h4>Filters</h4>
          </div>
          <div class="col-9">
            <h4 class="fs-4 fw-500 m-0">
              Movies in {{ commonService.selectedCitySignal() }}
            </h4>
          </div>
        </div>
        <div class="filter_cards_container d-flex justify-content-between py-4">
          <div class="col-3">
            <div>
              <div class="app_filter_box">
                <app-filter-accordian
                  [label]="'Languages'"
                  [filtersList]="LanguageNames"
                  (filterChange)="onFilterChange('Languages', $event)"
                ></app-filter-accordian>
              </div>

              <div class="app_filter_box">
                <app-filter-accordian
                  [label]="'Genres'"
                  [filtersList]="GenreNames"
                  (filterChange)="onFilterChange('Genres', $event)"
                ></app-filter-accordian>
              </div>

              <div class="app_filter_box">
                <app-filter-accordian
                  [label]="'Format'"
                  [filtersList]="FormatNames"
                  (filterChange)="onFilterChange('Formats', $event)"
                ></app-filter-accordian>
              </div>
            </div>
          </div>
          <div class="col-9 d-block">
            <div class="top_bar_Comming_soon d-flex flex-column gap-3">
              <div class="d-flex gap-3 language_text py-2 flex-wrap">
                <!-- Languages -->
                <ng-container>
                  @for (lang of selectedFiltersSignal()['Languages']; track
                  $index) {
                  <button
                    class="filter_btn"
                    [ngClass]="{
                      active:
                        selectedFiltersSignal()['Languages'].includes(lang)
                    }"
                  >
                    {{ lang }}
                  </button>
                  }
                </ng-container>

                <!-- Genres -->
                <ng-container>
                  @for (genre of selectedFiltersSignal()['Genres']; track
                  $index) {
                  <button
                    class="filter_btn"
                    [ngClass]="{
                      active: selectedFiltersSignal()['Genres'].includes(genre)
                    }"
                  >
                    {{ genre }}
                  </button>
                  }
                </ng-container>

                <!-- Format -->
                <ng-container>
                  @for (format of selectedFiltersSignal()['Format']; track
                  $index) {
                  <button
                    class="filter_btn"
                    [ngClass]="{
                      active: selectedFiltersSignal()['Format'].includes(format)
                    }"
                  >
                    {{ format }}
                  </button>
                  }
                </ng-container>
              </div>

              <div
                class="d-flex justify-content-between py-4 px-3 rounded-2 comming_soon_bar bg-white align-items-center shadow-sm"
                style="background: transparent"
              >
                <h4 class="fs-5 fw-500 m-0">Coming Soon</h4>
                <a class="explore_text" [routerLink]="['upcoming-movies']"
                  >Explore upcoming movies
                  <i class="fa fa-angle-right ms-1" aria-hidden="true"></i
                ></a>
              </div>
            </div>

            <!-- Movie Cards -->
            <div class="col-12">
              <div class="d-flex justify-content-center g-0">
                <div class="main_box_crasoule">
                  <div class="main_filter_card overflow-hidden">
                    <div
                      class="filter_text d-flex flex-wrap gap-5 py-5 justify-content-start"
                    >
                      @for(item of filteredMovies; track $index){
                      <div class="col">
                        <div class="card shadow-sm">
                          <div class="img_container">
                            <img
                              [src]="
                                commonService.getImageFromBase64(item.imageurl)
                              "
                              [alt]="item.name"
                            />
                          </div>
                          <div class="card-body rounded-bottom bg-dark">
                            <div class="d-flex gap-4">
                              @if(item.releasedFlag == true){
                              <div
                                class="text-white d-flex gap-2 align-items-center"
                              >
                                <i-feather
                                  class="d-flex"
                                  name="star"
                                ></i-feather>
                                <span>{{ item.imdbRating }}</span>
                              </div>
                              } @if(item.releasedFlag == true){
                              <div
                                class="d-flex gap-2 align-items-center gap-2"
                              >
                                <i class="fa fa-thumbs-up text-success"></i>
                                <span class="text-white"
                                  >{{ item.votes | numberSuffix }}
                                </span>
                                @if(item.releasedFlag == false){
                                <span class="text-white">{{ item.likes }}</span>
                                }
                              </div>
                              }
                            </div>
                          </div>
                        </div>
                        <div class="bottom_text_movie_card">
                          <h6 class="card-text m-0">{{ item.name }}</h6>
                          <div class="d-flex gap-1 flex-wrap">
                            @for(language of item.languages; track $index) {
                            <span>{{ language }}</span>
                            }
                          </div>
                        </div>
                      </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
